{% extends 'dashboard.html' %}
{% load static %}

{% block functionality %}
<h1>Categories</h1>

{% include 'forms/category_form.html'%}

<hr>
<button type="button" class="btn btn-outline-dark btn-sm active" onclick="showModal()">
    <i class="fas fa-tags"></i>&MediumSpace;
    Add
</button>
<hr>

<div class="table-responsive">
    <table id="category_table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Category</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
{% endblock functionality %}