{% extends 'base_templates/base_template.html' %}

{% block content%}
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">This project was built to test my programming skills with python and django.
                         The project is licensed with MIT, so you can feel free to use it and modify it as you like.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><span class="fab fa-twitter text-white">&MediumSpace;</span><a href="https://twitter.com/rvladimirvm" class="text-white">Follow on Twitter </span></a></li>
                        <li><span class="fab fa-facebook-f text-white">&MediumSpace;</span><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><span class="fas fa-envelope text-white">&MediumSpace;</span><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <i class="fas fa-book fa-3x"></i>
                <strong>&MediumSpace; Library</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">
    
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Book Reservation</h1>
            <p class="lead text-muted">Keep track of book reservations in your library. Add categories, <br>
                add books and keep under control how long your book will remain for rent.</p>
            <p>
                <a href="{% url 'login' %}" class="btn btn-primary my-2">Login to the administrators site</a>
                <a href="#" class="btn btn-secondary my-2">See catalog of books</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <h2>Features :</h2>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>                      
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Did you find this project ? Enter Github and 
            <a href="https://github.com/rvladimirvm">visit my page</a> to see my projects, which can be useful for you.
        </p>
    </div>
</footer>
{% endblock content %}