{% extends 'base_templates/base_template.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login-style.css' %}" />
{% endblock css %}

{% block content%}

<form class="form-signin" id="form_signin" action="{% url 'signin' %}" method="POST">
    {% csrf_token %}
    <div style="text-align: center">
        <i class="fas fa-book fa-5x mb-4"></i>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    </div>
    <input id="inputEmail" class="form-control" placeholder="User Name" name="username" autofocus>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018 - 2019</p>
</form>
{% endblock content %}

{% block js %}
<script src="{% static 'js/login/login.js' %}"></script>
{% endblock js %}